/*
 * Fichier de style spécifique à la page CGV
 * Les styles communs sont définis dans pages-common.css
 */

/* Style spécifique pour le titre principal CGV */


/* Ajoutez ici d'autres styles spécifiques à la page CGV */